Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==1.2.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-WTF==0.10.2
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.7
SQLAlchemy-Utils==0.29.8
WTForms==2.0.1
WTForms-Alchemy==0.13.0
WTForms-Components==0.9.7
Werkzeug==0.9.6
alembic==0.7.0
argparse==1.2.1
astroid==1.2.1
blinker==1.3
colorama==0.3.2
coverage==3.7.1
decorator==3.4.0
enum==0.4.4
infinity==1.3
intervals==0.3.1
itsdangerous==0.24
logilab-common==0.62.1
passlib==1.6.2
py==1.4.30
pylint==1.3.1
pytest==2.7.2
pytest-cov==2.1.0
six==1.9.0
validators==0.7
virtualenv==1.11.6
wsgiref==0.1.2
