{% extends "bootstrap/base.html" %}

{% import 'macros/view.html' as view %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
{% endblock head %}

{% block title %}
    {% block title_prefix %}{% endblock title_prefix %} - {{ config.APP_NAME }}
{% endblock title %}

{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet" media="screen"/>
    <!-- Bootstrap Theme -->
    <link href="{{bootstrap_find_resource('css/bootstrap-theme.css', cdn='bootstrap-theme')}}" rel="stylesheet" media="screen"/>
{%- endblock styles %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.APP_NAME }}</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if current_user.is_authenticated() %}
                <ul class="nav navbar-nav navbar-left">
                    {{ view.navbar_item('Tournaments', 'tournaments.table') }}
                    {{ view.navbar_item('Teams', 'teams.table') }}
                    {% if current_user.is_admin() %}
                        {{ view.navbar_item('Users', 'users.table') }}
                    {% endif %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                    {{ view.navbar_item_inactive('Account', 'users.edit', user_id=current_user.id) }}
                    {{ view.navbar_item_inactive('Log Out', 'users.logout') }}
                {% else %}
                    {{ view.navbar_item_inactive('Log In', 'users.login') }}
                    {{ view.navbar_item_inactive('Register', 'users.register') }}
                {% endif %}

                {{ view.navbar_dropdown_menu_begin('Help') }}
                {{ view.navbar_item('About', 'about') }}
                {{ view.navbar_dropdown_menu_end() }}
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock content %}
